# Telegram
TELEGRAM_BOT_TOKEN=

# DEBUG, INFO, WARNING, ERROR
LOG_LEVEL=INFO

# anthropic or lmstudio
MODEL_PROVIDER=anthropic
MODEL_NAME=

# Anthropic
ANTHROPIC_API_KEY=

# LM Studio
LMSTUDIO_BASE_URL=http://localhost:1234/v1
LMSTUDIO_API_KEY=not-needed
